/*color legend:
    dark orange/red: #591a07
    light organge/red: #ccb1a9
    white: ghostwhite
    black: black

*/

.body-back{
  background: url(assets/pawel-czerwinski-HSinauzeWUc-unsplash.jpg);
}

.container-fluid{
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.display-5, .fw-bold{
  color:ghostwhite;
  font-weight: 800!important;
}
.col-md-8, .fs-4{
  color:black
}

.bg-dark{
  background: #591a07 !important;
}

.btn-secondary{
  margin-bottom: 20px;
  background-color:black;
  border-color: black;
  color:ghostwhite;
  font-weight: 500;
}
